{% extends "layout.html" %}
{% block title %}customer{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Customer</h1>
<div class="row row-cols-1 row-cols-md-4 g-4">
    <p class="important">
    <div class="col">
        <div class="card">
            <img src="\static\customer.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">ID: {{ customer.id}}</h5>
                <p class="card-text">Name: {{ customer.name}}</p>
                <p class="card-text">City: {{ customer.city}}</p>
                <p class="card-text">Age: {{ customer.age}}</p>
                <a class="btn btn-success" href="/add_customer">Add</a>
                <a class="btn btn-danger"  href="/delete_customer/{{customer.id}}">delete
                    customer</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}