{% extends "layout.html" %}
{% block title %}book{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Book</h1>
<div class="row row-cols-1 row-cols-md-4 g-4">
    <p class="important">
    <div class="col">
        <div class="card">
            <img src="\static\book.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">ID: {{ book.id}}</h5>
                <p class="card-text">Name: {{ book.name}}</p>
                <p class="card-text">Author: {{ book.author}}</p>
                <p class="card-text">Year published: {{ book.year_published}}</p>
                <p class="card-text">Type: {{ book.type}}</p>
                <a class="btn btn-success" href="/add_book/">Add</a>
                <a class="btn btn-danger" href="/delete_book/{{book.id}}">delete Book</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}